@import "../../../assets/global-styles/global-styles";

.project-list {
    .project-list-header {
        padding: 0.5rem 1rem;
        background: $surface;
        border: $on-surface solid 0.05rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .list-show-options {
            button {
                margin-right: 1rem;
                padding: 0.5rem 0;

                span {
                    margin-right: 0.25rem;
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }

        .sort {
            display: flex;
            align-items: center;
            position: relative;

            button {
                padding: 0.5rem 0;
                display: flex;
                align-items: center;

                ion-icon {
                    margin-left: 0.25rem;
                }
            }

            .sort-options {
                background: $surface;
                border: $on-surface solid 0.05rem;
                border-radius: 0.5rem;
                opacity: 0;
                overflow: hidden;
                pointer-events: none;
                position: absolute;
                right: 0;
                top: 100%;
                z-index: 101;
                transition: 0.4s;

                button {
                    width: 100%;
                    padding: 0.5rem;
                }

                button:hover {
                    background: rgb(200, 200, 200);
                }
            }

            .sort-options.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    ul {
        margin-top: 1rem;
        background: $surface;
        border: $on-surface solid 0.05rem;
        border-radius: 1rem;

        li {
            padding: 1rem;
            border-top: $on-surface solid 0.05rem;
            border-bottom: $on-surface solid 0.05rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .project-name {
                margin-right: 2rem;
                font-size: 1.25rem;
                font-weight: 700;
            }

            .project-name:hover {
                text-decoration: underline;
            }

            .project-menu {
                border-radius: 10rem;
                position: relative;

                .project-menu-toggler {
                    height: 2rem;
                    width: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .project-options {
                    background: $surface;
                    border: $on-surface solid 0.05rem;
                    border-radius: 0.5rem;
                    opacity: 0;
                    overflow: hidden;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    z-index: 101;
                    transition: 0.4s;

                    button {
                        width: 100%;
                        padding: 0.5rem;
                        text-align: left;
                    }

                    button:nth-child(2) {
                        width: max-content;
                    }

                    button:hover {
                        background: rgb(200, 200, 200);
                    }
                }

                .project-options.active {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        li:nth-child(1) {
            border-top: 0;
            border-radius: 1rem 1rem 0 0;
        }

        li:last-child {
            border-bottom: 0;
            border-radius: 0 0 1rem 1rem;
        }
    }

    ul.no-content {
        height: 12rem;

        h1 {
            font-size: 1.75rem;
            line-height: 12rem;
            text-align: center;
        }
    }
}