@import "../../assets/global-styles/global-styles";

#calendar {
    width: 100%;
    padding: 2rem 0.5rem;
    display: grid;
    grid-row-gap: 1rem;

    .heading {
        margin-left: 3.5rem;
        padding: 0.5rem;
        background: $surface;
        border-radius: 0.5rem;
        color: $on-surface;
    }

    .calendar-section {
        padding: 1rem;
        background: $surface;
        border-radius: 0.5rem;

        .fc-button-group {
            button {
                background: $primary;
                border: $on-surface solid 0.05rem;
                color: $on-primary;
            }
        }

        table[role="grid"], th[role="columnheader"], td[role="gridcell"] {
            border: $on-surface solid 0.05rem;
        }

        .fc-day-today {
            background-color: $primary;
            color: $on-primary;
        }
    }

    .modal {
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 102;
        transition: 0.4s;
        
        .modal-background {
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            min-width: 80vw;
            padding: 1rem;
            background: $background;
            border-radius: 0.5rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            form {
                .input-box {
                    position: relative;

                    label {
                        font-weight: 700;
                    }
    
                    input {
                        width: 100%;
                        margin-bottom: 1rem;
                        padding: 0.5rem 1rem;
                        border: transparent solid 0.1rem;
                        border-radius: 0.25rem;
                    }
                }

                .input-box.error {
                    label {
                        color: $error;
                    }

                    input {
                        border: $error solid 0.1rem;
                    }
                }

                .btn {
                    justify-content: right;
                }
            }

            h1 {
                text-align: center;
            }

            p {
                margin: 1.5rem 0;
            }

            .btn {
                display: flex;
                justify-content: space-between;

                button {
                    padding: 0.5rem 1rem;
                    background: $primary;
                    border-radius: 0.5rem;
                    color: $on-primary;
                }

                button.remove {
                    background: $error;
                }
            }

            .icon {
                width: 100%;
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;

                ion-icon {
                    height: 6rem;
                    width: 6rem;
                    color: $completed;
                }
            }
        }
    }

    .modal.active {
        opacity: 1;
        pointer-events: all;
    }
}

@media only screen and (min-width: 600px) {
    #calendar {
        padding: 2rem 1rem;

        .heading {
            margin-left: 5rem;
            padding: 1rem;
            border-radius: 1rem;
        }
        
        .modal {
            .modal-content {
                min-width: 30rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #calendar {
        padding-left: 7rem;

        .heading {
            margin: 0;
        }

        .modal {
            .modal-content {
                .btn {
                    button {
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #calendar {
        .heading {
            padding: 1.5rem;
            border-radius: 1.5rem;
        }
    }
}