@import "../../assets/global-styles/global-styles";

#dashboard {
    width: 100%;
    padding: 7rem 0.5rem 0.5rem 0.5rem;

    .position {
        margin-bottom: 1rem;
        display: flex;

        span {
            margin: 0 0.5rem;
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 600px) {
    #dashboard {
        padding: 8rem 1rem 1rem 1rem;
    }
}

@media only screen and (min-width: 768px) {
    #dashboard {
        padding: 2rem 1rem 0 7rem;
    }
}