@import "reset";
@import "variables";
@import "function";

body {
    font-family: 'DM Sans', sans-serif;
    background: $background;

    #root {
        min-height: 100vh;
        width: 100%;
        font-size: 1rem;
        position: relative;

        main {
            position: relative;

            .main-container {
                opacity: 0;
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.4s;
            }

            .main-container.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    body {
        #root {
            main {
                .main-container {                    
                    .modal {
                        .modal-content {
                            padding: 2rem;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }
    }
}